/* General */
* {
    font-family: 'Darumadrop One', cursive;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Menu */
nav {
    background-color: #BDA18A;
}

.navbar-brand {
    /* padding-top: 0;
    padding-left: 15px; */
    font-size: 32px;
    font-weight: lighter;
    color: #222;
}

.navbar-toggler {
    /* margin-right: 15px; */
    border: 2px solid;
}

.nav-link {
    /* padding-left: 15px; */
    font-size: 20px;
}

/* Content */
.content {
    padding-top: 20vh;
}

.catchphrase {
    text-align: center;
    font-size: 21px;
    font-weight: bolder;
}

.P {
    font-size: 20px;
    text-align: center;
}