
body {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

nav {
    background-color: #BDA18A;
}

.body {
    padding-top: 100px;
}

p {
    font-size: 18px;
}

.explo {
    max-width: 400px;
}