/* General */
* {
    font-family: 'Darumadrop One', cursive;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

/* Menu */
nav {
    background-color: #BDA18A;
}

.navbar-brand {
    /* padding-top: 0;
    padding-left: 15px; */
    font-size: 32px;
    font-weight: lighter;
    color: #222;
}

.navbar-toggler {
    /* margin-right: 15px; */
    border: 2px solid;
}

.nav-link {
    /* padding-left: 15px; */
    font-size: 20px;
}

/* Content */
.content {
    padding-top: 20vh;
}

.catchphrase {
    text-align: center;
    /* font-size: 21px;
    font-weight: bolder; */
}

.P {
    font-size: 20px;
    text-align: center;
}

.row {
    align-items: center;
}

.sleeping {
    max-width: 80vw;
    max-height: auto;
}

.gamer {
    max-width: 80vw;
    max-height: auto;
}

.hydro {
    max-width: 80vw;
    max-height: auto;
}

.animals {
    max-width: 80vw;
    max-height: auto;
}

/* Styles pour les éléments avec la classe "info" */
.info {
    opacity: 0; /* Les éléments sont initialement invisibles */

    transition: opacity 0.8s, transform 0.8s ease; /* Transition de l'animation */
  }
  
  /* Styles pour les éléments animés */
  .info.animated {
    opacity: 1; /* Rendre les éléments visibles lors de l'animation */
    transform: translateX(0); /* Animation pour décaler les éléments vers la gauche */
  }

  .animate-from-right {
    animation: animate-right 0.5s ease;
    opacity: 1;
    transform: translateX(0);
}

.animate-from-left {
    animation: animate-left 0.5s ease;
    opacity: 1;
    transform: translateX(0);
}

@keyframes animate-right {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animate-left {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
